/* Специфические стили для модального окна Комплектующие */
#modal-components .modal-content {
    background-color: #f1f8e9; /* Светлый фон для модального окна Комплектующие */
}

#modal-components .component-card {
    background: #c8e6c9; /* Цвет фона для карточек комплектующих */
    border: 1px solid #388e3c; /* Цвет рамки для карточек */
}

.component-title {
    color: black;
}
