.card-minecraft {
    background-image: url('minecraft.jpg');
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat; 
}

.card-terraria {
    background-image: url('terraria.jpg');
    background-position: center; 
    background-size: auto;
    background-repeat: no-repeat; 
}

.card-csgo {
    background-image: url('cs2.jpg');
}
